In [2]:
import pandas as pd
import geopandas as gpd
from datetime import datetime

## Task1

In [3]:
#vehicle['date']= [pd.Timestamp(i,unit='s') for i in vehicle['Timestamp']]

In [4]:
requests = pd.read_csv("requests.csv")
requests.head()

,Timestamp,Requested_Pickup,Requested_Dropoff,Actual_Pickup,Actual_Dropoff
0,1380949200,1149,725,218,3601
1,1380949200,1225,1714,2003,3601
2,1380949200,1237,3143,1314,2218
3,1380949200,1323,3566,1330,2573
4,1380949200,1328,2466,1323,2473

In [5]:
requests['Hour'] = requests['Timestamp'].apply(lambda x: pd.Timestamp(x,unit='s',tz='America/New_York').hour)

In [6]:
requests.head()

,Timestamp,Requested_Pickup,Requested_Dropoff,Actual_Pickup,Actual_Dropoff,Hour
0,1380949200,1149,725,218,3601,1
1,1380949200,1225,1714,2003,3601,1
2,1380949200,1237,3143,1314,2218,1
3,1380949200,1323,3566,1330,2573,1
4,1380949200,1328,2466,1323,2473,1

In [7]:
requests['Serving'] = requests['Actual_Dropoff'].apply(lambda x: 0 if x ==-1 else 1 )

In [8]:
unserving = requests[requests['Serving']==0]
serving = requests[requests['Serving']==1]

In [9]:
#requests['Hour']=requests['Hour'].astype('category')
#requests['Serving']=requests['Serving'].astype('category')

In [10]:
servinghours = serving.groupby('Hour').count()[['Serving']].reset_index()

In [11]:
hours = requests.groupby('Hour').count()[['Timestamp']].reset_index()

In [12]:
rate = hours.merge(servinghours, on='Hour')
rate.rename(columns={'Timestamp':'Total'}, inplace=True)
rate['rate']=rate['Serving']/rate['Total']
rate.head()

   Hour  Total  Serving      rate
0     0  19313     6748  0.349402
1     1  10052     7297  0.725925
2     2   6070     5464  0.900165
3     3   3725     3443  0.924295
4     4   2567     2310  0.899883

In [13]:
rush_hour = ['7','8','9','17','18','19']

In [18]:
rate['rush'] = rate['Hour'].isin(rush_hour)
rate['Type'] = rate['rush'].apply(lambda x: "Rush" if x==True else "Nonrush")

In [19]:
rate

    Hour  Total  Serving      rate   rush     Type
0      0  19313     6748  0.349402  False  Nonrush
1      1  10052     7297  0.725925  False  Nonrush
2      2   6070     5464  0.900165  False  Nonrush
3      3   3725     3443  0.924295  False  Nonrush
4      4   2567     2310  0.899883  False  Nonrush
5      5   1887     1779  0.942766  False  Nonrush
6      6   2728     2498  0.915689  False  Nonrush
7      7   8707     5416  0.622028   True     Rush
8      8  15405     7455  0.483934   True     Rush
9      9  21036     8299  0.394514   True     Rush
10    10  22339     8741  0.391289  False  Nonrush
11    11  19942     9037  0.453164  False  Nonrush
12    12  18397     9295  0.505245  False  Nonrush
13    13  19389     9358  0.482645  False  Nonrush
14    14  19485     9484  0.486733  False  Nonrush
15    15  19383     8991  0.463860  False  Nonrush
16    16  17988     9365  0.520625  False  Nonrush
17    17  14773     9531  0.645163   True     Rush
18    18  19137     9145  0.477870   True     Rush
19    19  25012     8638  0.345354   True     Rush
20    20  26576     8350  0.314193  False  Nonrush
21    21  24209     7859  0.324631  False  Nonrush
22    22  22763     7361  0.323376  False  Nonrush
23    23  22186     7103  0.320157  False  Nonrush

In [20]:
rate.to_csv('servingrate.csv')

## Task 2

In [129]:
geomanhattan = gpd.read_file('manhattan.geojson')
geomanhattan.head()

    id   w                        geometry
0  0.0 NaN  POINT (-73.9975944 40.7140611)
1  1.0 NaN  POINT (-73.9980743 40.7137811)
2  2.0 NaN  POINT (-73.9615093 40.7602403)
3  3.0 NaN   POINT (-73.9692158 40.763488)
4  4.0 NaN  POINT (-73.9694382 40.7635824)

In [136]:
georequests = unserving.merge(geomanhattan, left_on='Requested_Pickup',right_on='id')

In [137]:
georequests.rename(columns={'geometry':'Geo_Pickup'}, inplace=True)

In [139]:
georequests = georequests.merge(geomanhattan, left_on='Requested_Dropoff',right_on='id')

In [141]:
georequests.rename(columns={'geometry':'Geo_Dropoff'}, inplace=True)

In [148]:
georequests.drop(['w_x','w_y'],axis=1,inplace=True)
georequests.head()

,Timestamp,Requested_Pickup,Requested_Dropoff,Actual_Pickup,Actual_Dropoff,Hour,Serving,id_x,Geo_Pickup,id_y,Geo_Dropoff
0,1380949380,1225,1279,-1,-1,1,0,1225.0,POINT (-73.972567 40.7450709),1279.0,POINT (-73.9498734 40.7761941)
1,1381025613,1225,1279,-1,-1,22,0,1225.0,POINT (-73.972567 40.7450709),1279.0,POINT (-73.9498734 40.7761941)
2,1381018306,1260,1279,-1,-1,20,0,1260.0,POINT (-73.9911207 40.7503112),1279.0,POINT (-73.9498734 40.7761941)
3,1381021560,3167,1279,-1,-1,21,0,3167.0,POINT (-73.9882441 40.7491343),1279.0,POINT (-73.9498734 40.7761941)
4,1381030809,229,1279,-1,-1,23,0,229.0,POINT (-73.9939536 40.7515176),1279.0,POINT (-73.9498734 40.7761941)

In [149]:
georequests.to_csv('georequests.csv')